.keydown.deck-container .slide h1 { text-align: center; margin: 0 auto 0.5em auto; }
.keydown.deck-container .slide .content > ul { display: inline-block }
.content { width: 100% }

.keydown.deck-container #slide-0 p { text-align: center; }
#slide-0 h2 {
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

section.slide h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#slide-0 p { margin: 0 auto; }

.slide p {
  margin-left: auto;
  margin-right: auto;
}
